{% extends 'base.html.twig' %}

{% block title %}ShowAction{% endblock %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block tablecontent %}

    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Value</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{ string.id }}</td>
        <td>{{ string.name }}</td>
        <td>{{ string.value }}</td>
    </tr>
    </tbody>

{% endblock %}