{% extends 'base.html.twig' %}

{% block title %}ShowAction{% endblock %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block tablecontent %}

    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Full description</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{ string.id }}</td>
        <td>{{ string.title }}</td>
        <td>{{ string.description }}</td>
    </tr>
    </tbody>

{% endblock %}