<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Приветствуем</title>

    <style>
        body{
            margin: 0;
            padding: 0;
        }
        .header{
            height: 100px;
            width: 100%;
            background: #313131;
        }
        h1.main_caption{
            text-align: center;
            font-size: 30px;
            margin-top: 0;
            padding-top: 25px;
            color: navajowhite;
        }
        .main{
            margin: 50px auto;
            width: 70%;
        }

        .main p{
            font-size: 18px;
        }
        .row{
            margin: 30px auto;
            width: 70%;
        }
        .row .block{
            width: 30%;
            padding: 1.5%;
            float: left;
        }
        .row .block h3{
            font-size: 17px;
        }
        .row .block p{
            font-size: 17px;
        }
        .row .block img{
            display: block;
            margin: 0 auto;
        }
        
        .footer{
            height: 80px;
            width: 100%;
            background: #313131;
            float: left;
            position: absolute;
            bottom: 0;
        }
        .footer{
            font-size: 22px;
            color: navajowhite;
            text-align: center;
            padding-top: 5px;
        }
    </style>

</head>
<body>
    <div class="header">
        <h1 class="main_caption">Приветствуем вас на сайте нашей компании</h1>
    </div>
<div class="main">
    <p>Мы занимаемся созданием иновационных проектов в абсолютно разных сферах. Начиная от создания маленьких роботов делающих нечто необычное, заканчивая создание сложных спутниковых систем и архитектурой космических кораблей будущего!</p>
    <p>Мы поможем вам превратить ващу идею в реальность, даже если вам когда то снилось нечто удивительное и вам кажется что в реалььной жизни такое невозможно создать, то уверены, мы сможем вас увидить!</p>
</div>

    <div class="row">
        <div class="block">
            <img src="https://pp.userapi.com/c831308/v831308604/18e2b5/2oMTElcUSNQ.jpg" width="100" alt="">
            <h3>Полностью проанализируем ващу идею</h3>
            <p>Мы обеспечим полный анализ вашей идеи и потратим большое количество времени чтобы продумать все и быть готовыми к созданию архитектуры проекта</p>
        </div>
        <div class="block">
            <img src="https://pp.userapi.com/c831308/v831308604/18e2d6/02wlkmdPZ0c.jpg" width="100" alt="">
            <h3>Предоставим реальные сроки</h3>
            <p>На основе проведенного анализа мы предоставим вам реальные сроки реализации вашей идеи</p>
        </div>
        <div class="block">
            <img src="https://pp.userapi.com/c831308/v831308604/18e2dd/1r5uq380d14.jpg" width="100" alt="">
            <h3>Реализуем</h3>
            <p>Самая важная часть нашей деятельности - это реализация вашей мечты. Огромная команда архитекторов, конструкторов специалистов в разных областях а также специалистов в моделировании объектов, сделает все для воплощения вашей мечты в реальность</p>
        </div>
    </div>
    <div class="footer">
        <p>Спасибо за посещение нашего сайта. Обращайтесь к нам по номеру +375256678345</p>
    </div>
</body>
</html>